body {
	padding-top: 50px;
}

table.hotel {
	width: 100%;
}

table.analyst1 {
	width: 99%;
	float: left;
}

table.analyst2 {
	width: 99%;
	float: right;
}
.analyst {
	width: 100%;
}
.analyst1 {
	width: 50%;
	float: left;
}

.analyst2 {
	width: 50%;
	float: right;
}
table.hotel th.kategorie,
table.hotel td.kategorie {
	width: 20%;
}

table.hotel th.preis,
table.hotel td.preis {
	width: 10%;
	text-align: right;
}

table.hotel th.ausstattung,
table.hotel td.ausstattung {
	width: 50%;
}

table.hotel th.buchen,
table.hotel td.buchen {
	width: 20%;
	text-align: right;
}

table.zimmer td.zimmer {
	width: 75px;
}

table.zimmer td.button {
	width: 60px;
}

table.kategorie td.button1,
table.kategorie td.button2,
table.service td.button1,
table.service td.button2 {
	width: 60px;
}